﻿@model AvivaFizzBuzzCode.Models.FizzBuzzModel


@{
    Layout = null;
  

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DispayResult</title>
</head>
<body>
    <div>
      <ul>
@foreach (var item in Model.FizzBussList)
{
   <li style="@item.Value">@item.Key</li>
}
</ul>  
    </div>
</body>
</html>