﻿@model AvivaFizzBuzzCode.Models.FizzBuzzModel

@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFizzBuzz</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>
    <div ng-app>
        <form id="frm1" action="@Url.Action("DisplayResult", "FizzBuzz")"  name="frm1" method="post">
            <input type="number" name="MaxLimit" value="" ng-model="MaxLimit" id="MaxLimit" min="1" max="1000" required />             
            <br/>
            <br/>
            <input ng-disabled="!frm1.$valid" type="submit" name="Print" value="Submit" />
            <br/>
        </form>
    </div>
    
</body>
</html>